<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skribbl.io Mediathek</title>
  <link rel="icon" href="/public/favicon.png">
  <script defer src="/pages/script.js"></script>
</head>
<body style="margin-top: 30px; background-image: url(/public/background.png); background-repeat: repeat; background-size: 350px;">
  <% images.forEach((image, index) => {
    %>
      <img
        src="<%= image %>"
        style="<%= 'width: 22.5vw; margin-left: ' + ((!((index + 1) % 4)) * 2.5) + 'vw; margin-right: 12.5px; border-radius: 10px;' %>"
      >
    <%
  }); %>
</body>
</html>